#!/bin/bash

DB_BACKUPS_FOLDER="{{backups_folder}}/db"

d=`date '+%Y%m%d%H%M'`
databases=`psql -t -P format=unaligned -c "select datname from pg_database where datistemplate = false" postgres`

for db_name in $databases
do
  mkdir -p $DB_BACKUPS_FOLDER/$db_name
  pg_dump -U postgres -C -f $DB_BACKUPS_FOLDER/$db_name/$db_name-$d.sql.gz -Z 9 -U postgres $db_name
done
