RACK_ENV={{rails_env}}
SECRET_KEY_BASE={{secret_key_base}}
RAILS_SERVE_STATIC_FILES=true
SERVER_NAME={{site_host}}
ROLLBAR_SERVER_TOKEN=xxxxxxxxxx
MAILER_SMTP_ADDRESS=smtp.test.host
CENSUS_API_TOKEN_HOST={{site_census_api_token_host}}
CENSUS_API_USERNAME={{site_census_api_username}}
CENSUS_API_PASSWORD={{site_census_api_password}}
CENSUS_API_ENDPOINT={{site_census_api_endpoint}}
